[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pipenv = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
isort = "*"
flake8 = "*"
pylint = "*"
safety = "*"
bandit = "*"
twine = "*"

[packages]
twine = "*"

[requires]
python_version = "3.7"
